@import url(http://fonts.googleapis.com/css?family=Francois+One);
:after,
:before {
  content: '';
  position: absolute;
  display: inline-block;
  }
  body {
    background-color: #6d2539;
    }
    #container {
      width: 960px;
      height: 450px;
      position: absolute;
      left: 90px;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      margin-top: 20px;
      overflow: hidden;
}
    #container a {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      z-index: 100;
 }
    #container a:hover #mercury {
      -webkit-transform: rotate(30deg);
      -moz-transform: rotate(30deg);
      -o-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      transform: rotate(30deg);
 }
   #mercury {
      float: left;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      border: 30px solid #ea1e59;
     -webkit-transform: rotate(35deg);
      -moz-transform: rotate(35deg);
      -o-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      transform: rotate(35deg);
 }
     #mercury:after, #mercury:before {
       background-color: #ea1e59;
}
     #mercury:after {
        width: 120px;
        height: 30px;
        top: calc(135px);
        left: 300px;
}
     #mercury:before {
        height: 90px;
        width: 30px;
        top: calc(105px);
        left: 360px;
}
     #iwd_text {
        font-family: 'Francois One', sans-serif;
        line-height: 82px;
        width: 500px;
        height: 360px;
        float: left;
        color: white;
        font-size: 72px;
        margin-left: 80px;
        padding-top: 10px;
}


h1, h2 {
      font-family: 'Oswald', 'sans-serif';
}
a {
  text-decoration: none;
  color: #991818;
}
p {
  font-size: 50%;
}

body {
  font-family: 'Bitter', 'serif';
}

h3 {
  font-size: 70%
}

img.wave {
  width: 100%;
  height: auto;
  padding-top: 30px;
}

footer {
  color:white;
  margin: auto;
  margin-top: 80%;
  margin-right: 26%;
  margin-left: 26%;
  text-align: center;
  position: absolute;
  width: 600px;
}
/* add-ons 
--------------------------------------------- */
div.red-wave {
  background-color: #991818;
  height: 100%;
  margin-top: -1em;
}

#reached-top .reached-top {
  position: fixed;
  top: 0;
}
.all-pages {
  font-size: 25px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.newspaper {
  margin-top: 100px;
}

ellipse {
  fill: #991818;
}

path {
  fill: none;
  stroke: #991818;
  stroke-linecap: round;
}

.mid {
  stroke-width: 12px;
}

.tail {
  stroke-width: 2px;
}

.black {
  background: #000000;
}
#page1 {
  background: rgb(168, 227, 237);
}

#page3 {
  background: #000000;
  margin-bottom: -7em;
  color:white;
}
#page4 {
  background: #F7F7F7;
}
.blood-text {
  padding: 5em 5em;
  text-align: center;
  color: white;
}
#page5 {
  background-color: black;
  color: white;
}
#page6 {
  background: rgb(168, 227, 237);
}
#page7 {
  background-color: black;
  color: white;
}
.white {
  color: white;
}
.pads {
  float: left;
  width: 500px;
  height: auto;
  position: relative;
  margin: -20em 0em 0em -26em;
}
.pantyliners {
  float: right;
  width: 500px;
  height: auto;
  position: relative;
  margin: 0em -26em -20em 0em;
}

.cup {
  display: block;
  position: relative;
  top: 350px;
  left: 38%;
  right: 38%;
}
